page-home {

}

div.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.header {
    background-color: #bcd869;
	padding: 10px;
	
}

div.container {
    padding: 0.5px;
	font-size: 17px;
	background-color: #fff9ae;
}